%h2 パスワード再発行
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .actions
    = f.submit "パスワード再発行を希望する"
    -# = f.submit "Send me reset password instructions"
-# = render "devise/shared/links"


.bottom
  -# = render "devise/shared/links"
  %br/
  = link_to "FURIMAトップページに戻る", root_path
  %br/
  -# = link_to "ログアウト", destroy_user_session_path, method: :delete

=render 'layouts/footer_usr'