
.purchase_confirmation
  .register-area
    .register-area__box
      =link_to image_tag(src="logo.png", size:'130x40'),root_path
      %h2.purchase
        購入が完了しました
      %h2.purchase-icon
        %i.far.fa-clock
          発送をお待ちください
      .buy-content__item
        %h3.purchase 購入商品
        .buy-item-image
          = image_tag "#{@image.image}", class: "purchase-image"
        .buy-item-detail
          = @item.name
          %p.buy-price
            = "¥#{@item.price.to_s}"
            %span.shipping-free (税込) 送料込み

      .buy-content__item
        %form.buy-form
          .buy-price-table__left
            %h3.purchase 支払金額
          .buy-price-table__right
            = "¥#{@item.price.to_s}"
          
          = link_to "トップページへ戻る", root_path, class: 'return'