- if user_signed_in?
  -# = link_to "新規投稿", new_post_path, class: "header__right--btn"
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
- else
  = link_to "ログイン", new_user_session_path, class: "header__right--btn"
  = link_to "新規登録", new_user_registration_path, class: "header__right--btn"



-# = link_to "ログイン", new_user_session_path, method: :get
-# = link_to "ログアウト", destroy_user_session_path, method: :delete

.main
  %section.mainVisual
    .content
      %h2.content__subtitle 人生を変えるフリマアプリ
      %p.content__text FURIMAはだれでもかんたんに出品・購入できる
      %p.content__text フリマアプリです

      .btn
        = link_to '#', class: "productLink" do
          .btn__aBtn
        = link_to '#', class: "productLink" do
          .btn__gBtn

  %section.topIntroduction
    %h2.subtitle フリマが選ばれる３つの理由
    %ul.lists
      %li.list
        .list__pct
          %span.number 1
          = image_tag "pict-reason-01.jpg", alt: "写真", class: "image"
        %h3.list__text 
          %span.strong ３分 
          ですぐに出品
        %p.list__description スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pct
          %span.number 2
          = image_tag "pict-reason-02.jpg", alt: "写真", class: "image"
        %h3.list__text 
          %span.strong シンプル
          で使いやすい
        %p.list__description めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list--last
        .list__pct
          %span.number 3
          = image_tag "pict-reason-03.jpg", alt: "写真", class: "image"
        %h3.list__text
          手数料 
          %span.strong 業界最安
        %p.list__description 最大3%でお得に出品&購入！
      
  %section.topMiddleDl
    .topMiddleDl__inner
      %h2.subtitle2 会員数日本第一位 
      %p FURIMAは、フリマアプリで最も人気。
      %p 出品・購入回数も業界最多です！
      %p ほしかったあの商品に出会えるかもしれません。
      .btn
        = link_to '#', class: "productLink" do
          .btn__aBtn
        = link_to '#', class: "productLink" do
          .btn__gBtn

  %section.topKeyFeatur
    %h2.head FURIMAの特徴
    .items
      .item
        %figure.item__img
          = image_tag "icon-01.png", alt: "写真", class: "icon"
        %h3.item__subtitle 簡単に売り買いできる
        %p.item__detail スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .item
        %figure.item__img
          = image_tag "icon-03.png", alt: "写真", class: "icon"
        %h3.item__subtitle 売上金は即日振込みに対応
        %p.item__detail 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .item
        %figure.item__img
          = image_tag "icon-04.png", alt: "写真", class: "icon"
        %h3.item__subtitle 様々な支払いに対応
        %p.item__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  %section.pickupContainer
    %h2.head ピックアップカテゴリー
    .productBox
      .productHead
        = link_to '#', class: "productLink" do 
          %h3.title 新規投稿商品
      .productLists
        - @items.each do |item|
          - if item.buyer_id.blank?
            = link_to '#', class: "productLink" do
              .productList
                %figure.productList__img
                  = image_tag "", alt: "写真", class: "show-img"
                .productList__body
                  .details
                    = item.name
                  %p
                    = "#{item.price}円"
                  %p (税込)
    
  %section.pickupContainer
    %h2.head ピックアップブランド
    .productBox
      .productHead
        = link_to '#', class: "productLink" do
          %h3.title アーカイバー
      .productLists
        - @items.each do |item|
          - if item.buyer_id.blank?
            = link_to '#', class: "productLink" do
              .productList
                %figure.productList__img
                  = image_tag "", alt: "写真", class: "show-img"
                .productList__body
                  .details
                    = item.name
                  %p
                    = "#{item.price}円"
                  %p (税込)

.appBanner
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.innner__text 今すぐ無料ダウンロード！
    .btn-b
      = link_to '#', class: "productLink" do
        .btn-b__aBtn
      = link_to '#', class: "productLink" do
        .btn-b__gBtn