.new
  .new__content
    .new__content__header
      .new__content__header__text
        =link_to image_tag(src="logo.png", size:'200x70'),root_path
        -# = image_tag src="logo.png", size:'200x70'
        -# ここにロゴ
    .new__content__main
      .new__content__main__childrens
      = form_with(model: @item, local: true)do |form|
        .new__content__main__childrens__imges
          .new__content__main__childrens__imges__box
            出品画像
            %span.form-require 必須
            -# %span.form-require3 半角
            -# %strong 必須
            %br/
            最大10枚までアップロード可能
            #image-box
              #previews
                =if @item.persisted?
                  =@item.images.each_with_index do |image, i|
                    =image_tag image.src.url,data:{index:i},width:"100",height:'100'
              = form.fields_for :images do |t|
                #form-wrapper
                  %label.icons
                    = icon( 'fas',"fas fa-camera", class: "icon")
                    %p.text
                      ドラッグアンドドロップ
                      %br/
                      またはクリックしてファイルをアップロード
                  .js-file_group{"data-index" => "#{t.index}"}
                    = t.file_field :image,type: "file" ,class:"abc",value:"textarea"
                    = if @item.persisted?
                      =image.check_box :destroy,data:{index:t.index},class:"hidden-destroy"
                  = if @item.persisted?
                    .js-file_group{"data-index"=>"#{@item.images.count}"}
                      = file_field_tag :image, name: "item[images_attributes][#{@t.images.count}][:image]", class: 'abc'
                      .js-remove 削除


        .new__content__main__childrens__items
          .new__content__main__childrens__items__box
            .new__content__main__childrens__items__box__box1
              %p.item__text
              商品名 
              %span.form-require 必須
              -# %span
              -#   必須
              %br/
              = form.text_field  :name,  placeholder: "40文字まで", type: "text"
                
              %br/
              %br/
              %p.item__text-color
              入力してください
            .new__content__main__childrens__items__box__box2
              %p.item__text
                商品の説明
                %span.form-require 必須
                -# %span
                  必須
              = form.text_area :explain,class:"textarea"
              %br/
              %br/
              入力してください
              
            
            -# .listing-form-box
            -#   .listing-product-detail__category
            -#     -# = f.label 'カテゴリー', class: 'listing-default__label'
            -#     %span.form-require 必須
            -#     -# %span.listing-default--require 必須
            -#     .listing-select-wrapper
            -#       .listing-select-wrapper__box
            -#         -# = f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
            -#         %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
            -# .product_select-details
            -#   .product_select-group
            -#     .product_header
            -#       カテゴリー
            -#     .product_require
            -#       必須
            -#     .product_category-select
            -#       ここにプルダウン？
            -#     = form.collection_select :category, @category, :id, :name, { prompt: "---" }, { class: "category_select-box", id: "category_select" }
            -#     %i.fa.fa-chevron-down
            -#   .product_select-children


          
        .new__content__main__childrens__categories
          .new__content__main__childrens__categories__box
            .new__content__main__childrens__categories__box__box1
              商品の詳細
            .new__content__main__childrens__categories__box__box2
              カテゴリー 
              %span.form-require 必須
              -# 必須
              -# %br/
              %select#categorie{name: "categories",class:"categorie"}        
                %option{value:  "categorie1"} レディース
                %option{value: "categorie2"} メンズ
                %option{value: "categorie3"} 日用品
                %option{value: "categorie4"} インテリア
                %option{value: "categorie5"} その他
              %br/

              -# =form.select :region,pleaceholder: "",class:"categorie"  
              -# =form.select :condition,pleaceholder: "",class:"categorie_1" 
              -# =form.select :shipping,pleaceholder: "",class:"categorie_1" 
              -# %option{value: "categorie_11"} トップス
              -# %option{value: "categorie_22"} ジャケットアウター
              -# %option{value: "categorie_33"} パンツ
              -# %option{value: "categorie_44"} スカート
              -# %option{value: "categorie_55"} ワンピース
              -# %br/

              %select#categorie_2{name:  "categories_2",class:"categorie_2"}        
                %option{value: "categorie_11"} Tシャツ
                %option{value: "categorie_22"} ブラウス
                %option{value: "categorie_33"} キャミソール
                %option{value: "categorie_44"} タンクトップ
                %option{value:"categorie_55"} その他
              %br/
            .new__content__main__childrens__categories__box__box3
              ブランド
              %br/
              = form.text_field  :brand,name: "brnd", placeholder:"", type: "text",class:"brnd"
            .new__content__main__childrens__categories__box__box4
              商品の状態
              %span.form-require 必須
              -# 必須
              %br/
              = form.select(:condition, [["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"],["目立った傷や汚れがあり","目立った傷や汚れがあり"],["やや傷や汚れがあり","やや傷や汚れがあり"],["その他","その他"]], {prompt:"選択してください"}, {class: "condition"})
              


        .new__content__main__childrens__deliverys
          .new__content__main__childrens__deliverys__box
            .new__content__main__childrens__deliverys__box__box1
              配送について
            .new__content__main__childrens__deliverys__box__box2
              配送料の負担 
              %span.form-require 必須
              -# 必須
              %br/
              = form.select(:postage, [["送料込み", "送料込み"], ["着払い", "着払い"]], {prompt:"選択してください"}, {class: "contribution"})
            -# .new__content__main__childrens__deliverys__box__box5
            -#   発送までの日数 必須
            -#   = form.select(:shipping, [["未定", "未定"], ["ラクマフリマ便", "ラクマフリマ便"],["ゆうメール","ゆうメール"],["レターパック","レターパック"]], {prompt:"選択してください"}, {class: "date"})
              -# = form.select(:shipping, [["未定", "未定"], ["ラクマフリマ便", "ラクマフリマ便"],["ゆうメール","ゆうメール"],["レターパック","レターパック"]], {prompt:"選択してください"}, {class: "date"})
              -# %select#date{name: "date",class:"date"}        
              -#   %option{value: "condition1"} 未定
              -#   %option{value: "condition2"} ラクラクフリマ便
              -#   %option{value: "condition3"} ゆうメール
              -#   %option{value: "condition4"} レターパック
            .new__content__main__childrens__deliverys__box__box3
              配送の日数
              %span.form-require 必須
              %br/
              = form.select(:shipping, [["1〜2日で発送", "1〜2日で発送"], ["2〜3日で発送", "2〜3日で発送"],["4〜7日で発送","4〜7日で発送"]] ,{prompt:"選択してください"}, {class: "delivery"})
            .new__content__main__childrens__deliverys__box__box4
              配送の地域 
              %span.form-require 必須
              -# 必須
              %br/
              = form.select :region, options_for_select(@prefectures.map{|c|[c[:name], c[:name]]}), {prompt:"選択してください"}, {class: "area"} 
            
        .new__content__main__childrens__sale
          .new__content__main__childrens__sale__box
            価格 (¥300~9,999,999)
            %span.form-require 必須
            .new__content__main__childrens__sale__box__box1
              .flex
                %p.left
                  販売価格
                  -# 必須
                %p.rigth
                  ¥
                
              
              =form.number_field :price, placeholder: "", type: "number",class:"price"
              
            .new__content__main__childrens__sale__box__box2
              %p.left
                販売手数料 (10%)
              %p.rigth
                ー
            .new__content__main__childrens__sale__box__box3
              .new__content__main__childrens__sale__box__box3__top
                %p.left
                  販売利益
                %p.rigth
                  ー
              .new__content__main__childrens__sale__box__box3__middle
                .new__content__main__childrens__sale__box__box3__middle__buttn1
                  =form.submit name: "submit", class:"submit", value: "送信"
                .new__content__main__childrens__sale__box__box3__middle__buttn2 
                  = link_to("戻る","#" ,class: "back") 
              .new__content__main__childrens__sale__box__box3__bottom
                %p
                  禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

    .new__content__footer
      .new__content__footer__list
        %ul
          %li
            プライバシーポリシー
          %li
            メルカリ利用規約
          %li
            特定商取引に関する表記

      .new__content__footer__image
        .new__content__footer__image__box
          =link_to image_tag(src="logo.png", size:'140x41'),root_path
          -# = image_tag src="logo.png", size:'120x40' 
          -# ここにロゴ
      .new__content__footer__text
        .new__content__footer__text__box
        %br/
        %p
          ＠FURIMA,inc.
