%html
  %body
    = render'layouts/header'
    .breadCrumbs
      %ul
        %li
          =link_to"Furima",href:"#"
        %li
          = icon('fa','angle-right')
        %li
          =link_to"レディース",href:"#"
        %li
          = icon('fa','angle-right')
        %li
          =link_to"トップス",href:"#"
        %li
          = icon('fa','angle-right')
        %li
          =link_to"Tシャツ/カットソー(半袖/袖なし)",href:"#"
        %li
          = icon('fa','angle-right')
        %li
          product1
    .main
      .main__showMain
        .main__showMain__contentLeftqq
        .main__showMain__contentRight
          .main__showMain__contentRight__top-content
            .main__showMain__contentRight__top-content__itemBox
              .main__showMain__contentRight__top-content__itemBox__name
                = @item.name
              .main__showMain__contentRight__top-content__itemBox__body
                %ul
                  %li
                    - @item.images.each do |image|
                      = image_tag image.image.url, size: '300x300'
                   
              .main__showMain__contentRight__top-content__itemBox__price
                %span
                  20000
                .main__showMain__contentRight__top-content__itemBox__price__price-Detail
                  %span
                    (税込)
                  %span
                    (送料込み)
              .main__showMain__contentRight__top-content__itemBox__table
                
                %table
                  %tbody
                    %tr
                      %th 出品者
                      %td 雨音はよく寝れる
                    %tr 
                      %th カテゴリー
                      %td
                        =link_to"レディース",href:"#"
                        %br
                        =link_to"トップス",href:"#"
                        %br
                        =link_to"Tシャツ/カットソー(半袖/袖なし)",href:"#"
                    %tr
                      %th ブランド
                      %td
                    %tr
                      %th 商品のサイズ
                      %td
                    %tr 
                      %th 商品の状態
                      %td 新品/未使用
                    %tr
                      %th 配送料の負担
                      %td 着払い(購入者負担)
                    %tr
                      %th 配送元の地域
                      %td 千葉県野田市光葉町
                    %tr
                      %th 発送日の目安
                      %td そのうち
              -  if user_signed_in? && current_user.id == @item.user_id  
                %a{class:"main__showMain__contentRight__top-content__itemBox__item-buy-btn",href:"#"}編集画面に進む
              -else
                %a{class:"main__showMain__contentRight__top-content__itemBox__item-buy-btn",href:"#"}購入画面に進む
              .main__showMain__contentRight__top-content__itemBox__item-Detail
                最近口内炎ができてめちゃ痛いです。
              .main__showMain__contentRight__top-content__itemBox__optionalArea
                %ul
                  %li.optionalBtnlikeBtn
                    お気に入り
                %ul.main__showMain__contentRight__top-content__itemBox__optionalArea__optional
                  %li.main__showMain__contentRight__top-content__itemBox__optionalArea__optional__optionalBtn
                    =link_to"不適切な商品の通報",href:"#"
            .main__showMain__contentRight__top-content__commentBox
              %ul.main__showMain__contentRight__top-content__commentBox__commentContents
                = form_with class:"new_comment",method:"#",local: true do |f|
                  %textarea{required:"required", placeholder: "コメントする", rows: "2"}
                %p.main__showMain__contentRight__top-content__commentBox__noticeMsg
                  相手のことを考え丁寧なコメントを心がけよう。
                  %br
                  不快な言葉使いなどは利用制限や退会処分となることがあります。
                %button{type:"submit",class:"comment"}
                  コメントする
          %ul.main__showMain__contentRight__links
            %li
              %a{href:'#'}
                = icon('fa','angle-left')
                %span
                  前の商品
            %l.last-child
              %a{href:'#'}
                %span 
                  後ろの商品
                = icon('fa','angle-right')
          .main__showMain__contentRight__relatedItems
            %a{ href: '#'}
              メンズをもっとみる
    .appBanner
      .appBanner__inner
        %h2.appBanner__inner__title
          誰でも簡単、人生を変えるフリマアプリ
        %p.appBanner__inner__text
          今すぐ無料ダウンロード
        .appBanner__inner__icon

=render"layouts/footer"