%html
  %body
    = render'layouts/header'
    .breadCrumbs
      %ul
        %li
          =link_to"FURIMA", root_path
        %li
          = icon('fa','angle-right')
        %li
          ="商品詳細"
        %li
          = icon('fa','angle-right')
          = @item.name

    .main
      .main__showMain
        .main__showMain__contentLeftqq
        .main__showMain__contentRight
          .main__showMain__contentRight__top-content
            .main__showMain__contentRight__top-content__itemBox
              .main__showMain__contentRight__top-content__itemBox__name
                = @item.name
              .main__showMain__contentRight__top-content__itemBox__body
                %ul.main
                  %li.mainimage
                    =image_tag @item.images.first.image.url size: '300x300',class:"mainimage"
                  .subimage
                    - @item.images.each do |image|
                      %li.subimage_li
                        = image_tag image.image.url, size: '150x150',class:"subimage"

              .main__showMain__contentRight__top-content__itemBox__price
                %span
                  =@item.price
                  円
                .main__showMain__contentRight__top-content__itemBox__price__price-Detail
                  %span
                    商品説明
                    %br/
                  %p
                    = @item.explain

              .main__showMain__contentRight__top-content__itemBox__table
                
                %table
                  %tbody
                    %tr
                      %th 出品者
                      %td 
                        =@item.user.nickname
                    %tr 
                      %th カテゴリー
                      %td
                        =@item.category.parent.parent.name
                        %br
                        =@item.category.parent.name
                        %br
                        =@item.category.name
                    %tr
                      %th ブランド
                      %td
                        =@item.brand
                    %tr
                      %th 商品のサイズ
                      %td
                        =@item.size
                    %tr 
                      %th 商品の状態
                      %td 
                        =@item.condition
                    %tr
                      %th 配送料の負担
                      %td 
                        =@item.postage
                        
                    %tr
                      %th 配送元の地域
                      %td 
                        =@item.region
                        
                    %tr
                      %th 発送日の目安
                      %td 
                        =@item.shipping
                        
              -  if user_signed_in? && current_user.id == @item.user_id  
                = link_to "/items/#{params[:id]}/edit",class:"main__showMain__contentRight__top-content__itemBox__item-buy-btn" do
                  %p 編集画面に進む

                
                = link_to "商品削除", item_path(@item) ,class:"main__showMain__contentRight__top-content__itemBox__item-buy-btn",method: :delete 
                -# %a{class:"main__showMain__contentRight__top-content__itemBox__item-buy-btn",href:"/"}編集画面に進む
              -else
                = link_to "/items/#{params[:id]}/purchases/index",class:"main__showMain__contentRight__top-content__itemBox__item-buy-btn" do
                  %p 購入画面に進む

    .appBanner
      .appBanner__inner
        %h2.appBanner__inner__title
          誰でも簡単、人生を変えるフリマアプリ
        %p.appBanner__inner__text
          今すぐ無料ダウンロード
        .appBanner__inner__icon

=render"layouts/footer_usr"