%html
  %body
    = render'layouts/header'
    .breadCrumbs
      %ul
        %li
          =link_to"FURIMA",href:"/"
        %li
          = icon('fa','angle-right')
        %li
          ="商品詳細"
        %li
          = icon('fa','angle-right')
          = @item.name
      -#   %li
      -#     = icon('fa','angle-right')
      -#   %li
      -#     =link_to"トップス",href:"#"
      -#   %li
      -#     = icon('fa','angle-right')
      -#   %li
      -#     =link_to"Tシャツ/カットソー(半袖/袖なし)",href:"#"
      -#   %li
      -#     = icon('fa','angle-right')
      -#   %li
      -#     product1
    .main
      .main__showMain
        .main__showMain__contentLeftqq
        .main__showMain__contentRight
          .main__showMain__contentRight__top-content
            .main__showMain__contentRight__top-content__itemBox
              .main__showMain__contentRight__top-content__itemBox__name
                = @item.name
              .main__showMain__contentRight__top-content__itemBox__body
                %ul
                  %li.a
                    =image_tag @item.images.first.image.url size: '300x300'
                    %ul
                      - @item.images.each do |image|
                        %li
                          = image_tag image.image.url, size: '150x150'
                        
              .main__showMain__contentRight__top-content__itemBox__price
                %span
                  =@item.price
                .main__showMain__contentRight__top-content__itemBox__price__price-Detail
                  %span
                    商品説明
                    %br/
                  %p
                    = @item.explain
                -# .main__showMain__contentRight__top-content__itemBox__price__price-Detail
                -#   %span
                -#     = @item.explain
                    -# (送料込み)
              .main__showMain__contentRight__top-content__itemBox__table
                
                %table
                  %tbody
                    %tr
                      %th 出品者
                      %td 
                        =@item.user.nickname
                    %tr 
                      %th カテゴリー
                      %td
                        =@item.category.parent.parent.name
                        %br
                        =@item.category.parent.name
                        %br
                        =@item.category.name
                    %tr
                      %th ブランド
                      %td
                        =@item.brand
                    %tr
                      %th 商品のサイズ
                      %td
                        =@item.size
                    %tr 
                      %th 商品の状態
                      %td 
                        =@item.condition
                    %tr
                      %th 配送料の負担
                      %td 
                        =@item.postage
                        
                    %tr
                      %th 配送元の地域
                      %td 
                        =@item.region
                        
                    %tr
                      %th 発送日の目安
                      %td 
                        =@item.shipping
                        
              -  if user_signed_in? && current_user.id == @item.user_id  
                = link_to "/items/#{params[:id]}/edit",class:"main__showMain__contentRight__top-content__itemBox__item-buy-btn" do
                  %p 編集画面に進む
                -# %a{class:"main__showMain__contentRight__top-content__itemBox__item-buy-btn",href:"/"}編集画面に進む
              -else
                = link_to "/items/#{params[:id]}/purchases/index",class:"main__showMain__contentRight__top-content__itemBox__item-buy-btn" do
                  %p 購入画面に進む
                -# %a{class:"main__showMain__contentRight__top-content__itemBox__item-buy-btn",href: "/"}購入画面に進む
              -# .main__showMain__contentRight__top-content__itemBox__item-Detail
              -#   = @item.explain
                -# 最近口内炎ができてめちゃ痛いです。
          -#     .main__showMain__contentRight__top-content__itemBox__optionalArea
          -#       %ul
          -#         %li.optionalBtnlikeBtn
          -#           お気に入り
          -#       %ul.main__showMain__contentRight__top-content__itemBox__optionalArea__optional
          -#         %li.main__showMain__contentRight__top-content__itemBox__optionalArea__optional__optionalBtn
          -#           =link_to"不適切な商品の通報",href:"#"
          -#   .main__showMain__contentRight__top-content__commentBox
          -#     %ul.main__showMain__contentRight__top-content__commentBox__commentContents
          -#       = form_with class:"new_comment",method:"#",local: true do |f|
          -#         %textarea{required:"required", placeholder: "コメントする", rows: "2"}
          -#       %p.main__showMain__contentRight__top-content__commentBox__noticeMsg
          -#         相手のことを考え丁寧なコメントを心がけよう。
          -#         %br
          -#         不快な言葉使いなどは利用制限や退会処分となることがあります。
          -#       %button{type:"submit",class:"comment"}
          -#         コメントする
          -# %ul.main__showMain__contentRight__links
          -#   %li
          -#     %a{href:'#'}
          -#       = icon('fa','angle-left')
          -#       %span
          -#         前の商品
          -#   %l.last-child
          -#     %a{href:'#'}
          -#       %span 
          -#         後ろの商品
          -#       = icon('fa','angle-right')
          -# .main__showMain__contentRight__relatedItems
          -#   %a{ href: '#'}
          -#     メンズをもっとみる
    .appBanner
      .appBanner__inner
        %h2.appBanner__inner__title
          誰でも簡単、人生を変えるフリマアプリ
        %p.appBanner__inner__text
          今すぐ無料ダウンロード
        .appBanner__inner__icon

=render"layouts/footer_usr"