.card-register
  .register-area
    .register-area__box
      = image_tag "logo.png", alt: "FURIMAロゴ", class: "furima-logo"
      %h1.card 登録クレジットカード情報
      %hr
      %br
        %p.card
          = "**** **** **** " + @default_card_information.last4
          %label.card /有効期限/
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
      = form_with url: delete_cards_path, method: :post, id: 'charge-form', html: {name: "inputForm"}, local: true do |form|
        = form.hidden_field value: "" 
        %button.delete 削除する